%table.table.table-striped.table-hover
  %thead
    %tr
      %td
      %td Name
      %td.sortable= stats_link_to 'Batting Average', 'batting_average desc'
      %td.sortable= stats_link_to 'Home Runs', 'home_runs desc'
      %td.sortable= stats_link_to 'RBI', 'rbi desc'
      %td.sortable= stats_link_to 'Runs', 'runs desc'
      %td.sortable= stats_link_to 'Steals', 'steals desc'
      %td.sortable= stats_link_to 'OPS', 'ops desc'
  %tbody
    - @stats.each_with_index do |stat, index|
      %tr
        %td= index+1
        %td= stat.player.link
        %td= stat.batting_average
        %td= stat.home_runs
        %td= stat.rbi
        %td= stat.runs
        %td= stat.steals
        %td= stat.ops
