%table.table.table-striped.table-hover
  %thead
    %tr
      %td
      %td Name
      %td.sortable= link_to "Batting Average", stats_path(format: :html), remote: true
      %td.sortable= link_to "Home Runs", stats_path(format: :html), remote: true
      %td.sortable= link_to "RBI", stats_path(format: :html), remote: true
      %td.sortable= link_to "Runs", stats_path(format: :html), remote: true
      %td.sortable= link_to "Stolen Bases", stats_path(format: :html), remote: true
      %td.sortable= link_to "OPS", stats_path(format: :html), remote: true
  %tbody
    - @stats.each_with_index do |stat, index|
      %tr
        %td= index+1
        %td= stat.player.surname
        %td= stat.batting_average
        %td= stat.home_runs
        %td= stat.rbi
        %td= stat.runs
        %td= stat.stolen_bases
        %td= stat.ops
